body {
    background-color: #FFE5EC;
    text-align: center;
}

h1 {
    color: #FF006E;
}

footer {
    background-color: #FF006E;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}   