body {
    background-color: #FFE5EC;
    text-align: center;
    margin: 0;
    padding: 0;
}
html {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  color: #FF006E;
  margin: 0;        /* Quita el margen externo */
  padding-top: 10px; /* Si quieres un poco de aire arriba */
  padding-bottom: 10px;
}

hr {
    border-top: 2px solid #FF006E;
}

footer {
    background-color: #FF006E;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
} 
.head {
    background-color: white;
}

header {
  margin: 0;
  padding: 10px 0;
  background-color: white; /* o tu color de cabecera */
  text-align: center;
}
body {
  border-top: 0 solid transparent;
}
