body {
    background-color: #FFE5EC;
    text-align: center;
    margin: 0;
    padding: 0;
}
html {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  color: #FF006E;
  margin: 0;        /* Quita el margen externo */
  padding-top: 10px; /* Si quieres un poco de aire arriba */
  padding-bottom: 10px;
}

hr {
    border-top: 2px solid #FF006E;
}

footer {
    background-color: #FF006E;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
} 
.head {
    background-color: white;
}

header {
  margin: 0;
  padding: 10px 0;
  background-color: white; /* o tu color de cabecera */
  text-align: center;
}

body {
  border-top: 0 solid transparent;
}

img {
	border: 5px solid rgb(173, 52, 72);
	border-radius: 20px;
}
table {
  margin: 20px auto;
  padding: 15px;
  border-spacing: 0px;
}
td, th {
    border: 1.5px solid #FF006E;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #FF006E;
    color: white;
}
td.freeTab {
  color: #FF006E;
  font-weight: bold;
}

button {
	color: white;
	background-color: #7A00B3;
	border-radius: 20px;
	border-color: white;
	font-size: 20px;
	width: 150px;
	height: 60px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

button:hover {
  background-color: #ff66cc;
}